<header><h3>Edit your Budget</h3></header>

<form action='/budgets/<%= @budget.id() %>' method='POST'>
<label for='budget-amount'>Amount:</label>
<input required type='text' id='budget-amount' name='budget' value='<%='%.2f' % @budget.budget() %>'>

<label for='tag-id'>Tag</label>

<select name='tag_id' id='tag-id'>
  <% for tag in @tags %>

  <option <%='selected' if @budget.tag.id() == tag.id()%> value='<%= tag.id() %>'>
    <%= tag.type() %>
  </option>
  <% end %>
</select>

<input type='submit' value='Update Budget'>

</form>
