<h3>Edit your Budget</h3>

<form action='/budgets/<%= @budget.id() %>' method='POST'>
<label for='budget-amount'>Amount:</label>
<input required type='text' id='budget-amount' name='budget' value=<%= @budget.budget() %>>

<label for='tag-id'>Tag</label>

<select name='tag_id' id='tag-id'>
  <% for tag in @tags %>

  <option <%='selected' if @budget.tag.type() == tag.type()%> disabled value='<%= tag.id() %>'>
    <%= tag.type() %>
  </option>
  <% end %>
</select>

<input type='submit' value='Update Budget'>

</form>
