
  <h3>All Transactions</h3>


<section class='tr-table'>



<section>

<filters class='filter'>
<% for transaction in @filtered %>
<form action='/transactions/filtered/<%= transaction.tag_id%>' method='GET'>
  <input type='submit' value='Filter By <%=transaction.tag().type() %>'>
</form>
<% end %>
</filters>



</section>

<section>
<table>
  <tr>
    <th>Tag</th>
    <th>Merchant</th>
    <th>
      Transaction Date
      <form action='/transactions/sorted' method='GET'>
        <input type='submit' value='Sort Descending'>
      </form>
    </th>
    <th>Amount</th>
    <th>Budget left</th>
    <th>Details</th>
  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction.tag().type() %></td>
    <td><%= transaction.merchant().name() %></td>
    <td><%= transaction.tr_date() %>
    </td>
    <td><%= transaction.amount() %></td>
    <td><%= transaction.get_budget.budget() - transaction.get_budget.spent() %></td>
    <td style="color: #cf4848;"><% budget = (transaction.get_budget.budget() - transaction.get_budget.spent()) %>
          <% if (budget > 0 && budget <= 30) %>
            Only £ <%=budget %> left!
          <% elsif (budget == 0) %>
            Budget reached!
          <% elsif (budget < 0) %>
            Over budget!
          <% end %>
    </td>
    <td><form action='/transactions/<%= transaction.id %>' method='GET'>
    <input type='submit' value='View Transaction'>
    </form></td>
  </tr>
  <% end %>
  <tr>
    <td colspan='5' style='text-align: right;'>
    <% total = 0 %>
    <% for transaction in @transactions %>
    <%total += transaction.amount() %>
    <% end %>
    Total: <%=total %>
    </td>
  </tr>
  <tr>
    <td colspan="5" style='text-align: center;'>Total of all transactions: <%= Transaction.sum()%></td>
  </tr>

</table>

<article class='alert'>
  <% for transaction in @transactions %>

  <% transaction.get_budget.budget() - transaction.get_budget.spent() %>
  <% budget = (transaction.get_budget.budget() - transaction.get_budget.spent()) %>
        <% if (budget > 0 && budget <= 30) %>
        ONLY £ <%=budget %> left for <%=transaction.tag().type()%>!
        <% elsif (budget == 0) %>
        Budget reached for <%=transaction.tag().type()%>!
        <% elsif (budget < 0) %>
        Over budget for <%=transaction.tag().type()%>!
        <% end %>
  <% end %>


</article>



</section>
</section>
