<h2>Here come the transactions!</h2>

<table>
  <tr>
    <th>Transactions</th>
    <th>Tag</th>
    <th>Merchant</th>
    <th>Transaction Date</th>
    <th>Amount</th>
    <th>Details</th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction.id %></td>
    <td><%= transaction.tag().type() %></td>
    <td><%= transaction.merchant().name() %></td>
    <td><%= transaction.tr_date() %></td>
    <td><%= transaction.amount() %></td>
    <td><form action='/transactions/<%= transaction.id %>' method='GET'>
    <input type='submit' value='View Transaction'>
    </form></td>
  </tr>
  <% end %>
</table>
