<header>
  <h2>Here come the transactions!</h2>
</header>

<section class='tr-table'>



<section>

<filters class='filter'>
<% for transaction in @filtered %>
<form action='/transactions/filtered/<%= transaction.tag_id%>' method='GET'>
  <input type='submit' value='Filter By <%=transaction.tag().type() %>'>
</form>
<% end %>
</filters>
</section>

<section>
<table>
  <tr>
    <th>Tag</th>
    <th>Merchant</th>
    <th>
      Transaction Date
      <form action='/transactions/sorted' method='GET'>
        <input type='submit' value='Sort Descending'>
      </form>
    </th>
    <th>Amount</th>
    <th>Budget</th>
    <th>Details</th>
  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction.tag().type() %></td>
    <td><%= transaction.merchant().name() %></td>
    <td><%= transaction.tr_date() %>
    </td>
    <td><%= transaction.amount() %></td>
    <td><%= transaction.get_budget.budget() %></td>
    <td><form action='/transactions/<%= transaction.id %>' method='GET'>
    <input type='submit' value='View Transaction'>
    </form></td>
  </tr>
  <% end %>
  <tr>
    <td colspan='5' style='text-align: right;'>
    <% total = 0 %>
    <% for transaction in @transactions %>
    <%total += transaction.amount() %>
    <% end %>
    <%=total %>
    </td>
  </tr>
  <tr>
    <td colspan="5" style='text-align: center;'>Total of all transactions: <%= Transaction.sum()%></td>
  </tr>

</table>

</section>
</section>
